<!doctype html>
<html>
	<style type="text/css">
      body {
        background: black;
        background-image: url(../static/images/build_wall.jpg);
        color: white;
      }
      div.container {
        position: relative;
        max-width: 500px;
        padding-top: 500px;
        padding: 10px;
        text-align: center;
        color: olive;
      }
      h4 {
        text-transform: uppercase;
      }
      label {
        color:black;
        font-family: Consolas, Baskerville, 'Segoe UI', sans-serif;
      }

    </style>
    <head>
    	<title>Upload new File</title>
    </head>
    <body>
    	<img src="/static/images/logo.png" width="200" height="200">
	    <h1 style="font-family:verdana; color:darkcyan;">Upload your archive here ...</h1>
	    <form method=post enctype=multipart/form-data>
	      <input type=file name=file>
        <input type=submit value=Upload>
        <input type="checkbox" name="compiler" value="gcc"><label for="checkbox">GCC</label>
        <input type="checkbox" name="compiler" value="clang"><label for="checkbox">CLANG</label>
      </form>
      {% block content %}
      <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert webserver-messages">
            {{ message }}
        </div>
        <p>Visit <a href="http://localhost:3000">Grafana</a> to see your results</p>
        {% endfor %}

        {% block page_content %}{% endblock %}
      </div>
      {% endblock %}
	</body>
</html>