<!doctype html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="/static/about.css">
</head>
<body>
	<header>
		<div class="navigation">
			<img src="/static/images/logo.png" class="build_logo">
			<ul class="menu">
				<li><a href="/">Home</a></li>
				<li><a href="about">About</a></li>
				<li><a href="login">Log In</a></li>
				<li><a href="">Sign In</a></li>
			</ul>
		</div>

		<div class="information">
			<p>
				This is a tool that allows building large C projects and inspecting statistics of previous builds.
			</p>
			<br>
			<p>
				We support two different compilers :
					<ul class="compilers">
						<li>GCC</li>
						<li>CLANG</li>
					</ul>
			</p>
			<br>
			<p>
				Each compiler will run in a separate Docker container and will be used to
				meet the users needs.
			</p>
			<br>
			<p>
				We collect build information from each user that are displayed using Grafana.
				Because of this, each user will be able to inspect the builds history, reviewing
				errors and warnings.
			</p>
			<br>
			<p>
				This is a project developed within Politehnica University of Bucharest and its
				purpose is to get used with Docker and linux containers. Please find below the
				architecture of this project :
			</p>
		</div>
	</header>
</body>
</html>