<!doctype html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="/static/about.css">
	<link rel="stylesheet" type="text/css" href="/static/carousel.css" rel="stylesheet" type="text/css" >
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" >

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript" ></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/static/slick.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<header>
		<div class="navigation">
			<img src="/static/images/logo.png" class="build_logo">
			<ul class="menu">
				<li><a href="/">Home</a></li>
				<li><a href="about">About</a></li>
				<li><a href="login">Log In</a></li>
			</ul>
		</div>

		<div class="row">
			<div class="container">
				<section class="customer-logos slider">
					<div class="slide"><img src="static/images/grafana.png" width="200" height="200"></div>
					<div class="slide"><img src="static/images/gcc.png" width="200" height="200"></div>
					<div class="slide"><img src="static/images/docker.png" width="200" height="200"></div>
					<div class="slide"><img src="static/images/clang.png" width="200" height="200"></div>
					<div class="slide"><img src="static/images/influx.png" width="200" height="200"></div>
					<div class="slide"><img src="static/images/acs.png" width="200" height="200"></div>
					<div class="slide"><img src="static/images/flask.png" width="200" height="200"></div>
				</section>
			</div>
		</div>

		<script type="text/javascript">
			$(document).ready(function(){
				$('.customer-logos').slick({
					slidesToShow: 5,
					slidesToScroll: 1,
					autoplay: true,
					autoplaySpeed: 1500,
					arrows: false,
					dots: false,
						pauseOnHover: false,
						responsive: [{
						breakpoint: 768,
						settings: {
							slidesToShow: 4
						}
					}, {
						breakpoint: 520,
						settings: {
							slidesToShow: 3
						}
					}]
				});
			});
		</script>

		<div class="information">
			<p>
				This is a tool that allows building large C projects and inspecting statistics of previous builds.
			</p>
			<br>
			<p>
				We support two different compilers :
					<ul class="compilers">
						<li>GCC</li>
						<li>CLANG</li>
					</ul>
			</p>
			<br>
			<p>
				Each compiler will run in a separate Docker container and will be used to
				meet the users needs.
			</p>
			<br>
			<p>
				We collect build information from each user that are displayed using <a href="https://grafana.com/">Grafana</a>.
				Because of this, each user will be able to inspect the builds history, reviewing
				errors and warnings.
			</p>
			<br>
			<p>
				This is a project developed within Politehnica University of Bucharest and its
				purpose is to get used with Docker and linux containers. Please find below the
				architecture of this project :
			</p>
			<p>
				You can find the project on <a href="https://github.com/LazarRazvan/BuildWebServer">GitHub</a>.
			</p>
		</div>
	</header>
</body>
</html>